.spmbctr
{
    border-bottom: Gray 0px solid;
    border-left: White 0px solid;
    border-top: White 0px solid;
    border-right: Gray 0px solid;
    background-color: #E9E9E9;
}
.spmbar
{
    cursor: pointer;
    cursor: hand;
    height: 24px;
}
.spmitm
{
    cursor: pointer;
    cursor: hand;
    height: 24px;
    color: Black;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    border-left: Silver 0px solid;
    border-bottom: #E9E9E9 1px solid;
    border-top: #E9E9E9 1px solid;
    border-right: #E9E9E9 0px solid;
}
.spmicn
{
    cursor: pointer;
    cursor: hand;
    background-color: Silver;
    border-left: Silver 1px solid;
    border-bottom: Silver 1px solid;
    border-top: Silver 1px solid;
    text-align: center;
    width: 24px;
    height: 20px;
}
.spmsub
{
    z-index: 1000;
    cursor: pointer;
    cursor: hand;
    background-color: #E9E9E9;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='DimGray', Direction=135, Strength=3);
    border-bottom: Gray 0px solid;
    border-left: White 0px solid;
    border-top: White 0px solid;
    border-right: Gray 0px solid;
}
.spmbrk
{
    border-bottom: Gray 1px solid;
    border-left: White 0px solid;
    border-top: White 1px solid;
    border-right: Gray 0px solid;
    background-color: White;
    height: 1px;
}
.spmitmsel
{
    background-color: #FFFFCC;
    cursor: pointer;
    cursor: hand;
    color: Black;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}
.spmarw
{
    font-family: tahoma;
    font-size: 10pt;
    cursor: pointer;
    cursor: hand;
    border-right: #E9E9E9 1px solid;
    border-bottom: #E9E9E9 1px solid;
    border-top: #E9E9E9 0px solid;
}
.spmrarw
{
    font-family: tahoma;
    font-size: 10pt;
    cursor: pointer;
    cursor: hand;
}
.spmitmscr
{
    width: 100%;
    font-size: 6pt;
}
